<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ibero Iniciar Sesión</title>
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
</head>
<body>
    <div class="wrapper">
        <form action="">
            <h1>Iniciar Sesión</h1>
            <div class="input-box">
                <input type="text" placeholder="Cuenta" required>
            </div>
            <div class="input-box">
                <input type="password" placeholder="Contraseña" required>
            </div>
            <div class="remember-forgot">
                <label><input type="checkbox"> Recuerdame</label>
                <a href="#">¿Olvidaste tu contraseña?</a>
            </div>

            <button type="submit" class="btn">Ingresar</button>
        </form>
    </div>
</body>
</html>